doctype html
html
   head
      title= 'jsapi demo'
      link(rel='stylesheet', href='/stylesheets/style.css')
      script(type="text/javascript") var _config = !{config};
      script(type='text/javascript', src='http://g.alicdn.com/ilw/ding/0.3.8/scripts/dingtalk.js')
      script(type='text/javascript', src='/javascripts/demo.js')
   body
      h1= title