doctype html
html
   head
      title= title
      link(rel='stylesheet', href='/stylesheets/style.css')
      script(type='text/javascript', src='/javascripts/zepto.min.js')
      script(type='text/javascript', src='http://g.alicdn.com/ilw/ding/0.3.8/scripts/dingtalk.js')
      script(type='text/javascript', src='/javascripts/demo.js')
   body
      h1= 'Jsapi Demo'
      #corpId= corpId
      #config= config